/* Start Variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --section-alt-background: #ececec;
  --main-transition: 0.3s;
  --section-padding: 100px;
}
/* End Variables */
/* start global rules*/
html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* Start componat  */
.main-title {
  margin: 100px auto;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  cursor: pointer;
  text-transform: uppercase;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

/* End componat  */

/* start header */
.header {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .container .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .container .logo {
    width: 100%;
    height: 50px;
  }
}
.header .container .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .container .main-nav {
    margin: auto;
  }
}
.header .container .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 1;
  top: 100%;
}
.header .container .main-nav > li {
}
.header .container .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  color: black;
  padding: 0 30px;
  transition: var(--main-transition);

  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .container .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .container .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header .container .main-nav > li > a::before {
    top: auto;
    bottom: 0;
  }
}
.header .container .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .container .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  width: 100%;
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  box-shadow: 0px 5px 10px 0 #66666669;
  z-index: 100;
  display: flex;
  gap: 40px;

  z-index: -1;
  opacity: 0;

  top: calc(100% + 50px);
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image img {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;

  background-color: #f1f1f1;
  cursor: pointer;
  transition: var(--main-transition);
  z-index: -1;
}
.header .mega-menu .links li:hover::before {
  width: 100%;
  left: 0;
  opacity: 1;
  transform: skewX(0deg);
}
.header .mega-menu .links li a {
  color: var(--main-color);
  display: block;
  padding: 15px;
  font-style: 18px;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
/* end header */
/* start landing */
.landing {
  /* display: none; */

  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .container .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
  }
}
.landing .container .text h1 {
  font-style: 40px;
  margin: 0;
  letter-spacing: -1px;
}
@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 28px;
  }
}
.landing .container .text p {
  font-size: 24px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
}
@media (max-width: 767px) {
  .landing .container .text p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .landing .container .text p {
    margin: 10px 0 0;
  }
}
.landing .container .image {
}

.landing .container .image img {
  width: 600px;
  /* max-width: 100%; */
  position: relative;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .container .image img {
    display: none;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}

.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/* end landing */
/* Start Articles */
.articles {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  cursor: pointer;
}
.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .container .box img {
  width: 100%;
  max-width: 100%;
}
.articles .container .box .content {
  padding: 20px;
}
.articles .container .box .content h3 {
  margin: 0;
}
.articles .container .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}
.articles .container .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .container .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .container .box .info i {
  color: var(--main-color);
}
.articles .container .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
/* End Articles */
/* Start Gallery */
.gallery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: var(--section-alt-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container .box {
  padding: 15px;
  border-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
cursor: pointer;
}
.gallery .container .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .container .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);

  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  width: 0px;
  height: 0px;
  z-index: 2;
}
.gallery .container .box .image:hover::before {
  animation: flashing 0.7s;
}
.gallery .container .box .image img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .container .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* start animation */
@keyframes up-and-down0 {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
/* ---------- */
@keyframes bouncing0 {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    width: 51%;
    height: 100%;
    left: 0;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    width: 51%;
    height: 100%;
    right: 0;
  }
}
/* ------------- */
@keyframes moving-arrow {
  50% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* end animation */
